<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lge.graphictest"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main_Act"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bin_Act"/>
        <activity android:name=".BitmapTest_Act"/>      
        <activity android:name=".Reflect_Act"/>
        <activity android:name=".Rotate_Act"/>
        <activity android:name=".Wica_Act"/>
        <activity android:name=".WidgetPreview1_Act"/>
        <activity android:name=".WidgetPreview2_Act"/>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest> 